---
layout: archive
title: "Computer Stuff"
permalink: /computer/
author_profile: false
sidebar:
  - text: "Here you will find a pseudo-random collection of articles
about computers. Most of them stem from problems that I had that
required lots of experimentation to fix. Hopefully these records will
save someone some time in the future."
---

{% include base_path %}
{% assign collectionName = 'computer' %}

{% assign collection = site.collections | where:'label',collectionName | first %}
{% for post in collection.docs %}
  {% unless post.render == false %}
      {% include archive-single.html %}
  {% endunless %}
{% endfor %}
