---
layout: home
permalink: /
news: Check out the new page containing my [favorite posts](/bestof)!
date:
author_profile: False
homesidebar:
  - title: "Welcome!"
    text: "Here you'll find some potentially cool stuff about
computers, Astronomy, and traveling around in an old van. The
recent posts to the left and the Post Archive above chronical general
happenings. The links at the top of each page will take you to
pages about specific topics. Enjoy!"
header:
  overlay_color: "#5e616c"
  overlay_image: main_bg.jpg
  tagline: 'The Götterdämmerung of blogs'
force_masthead: True
---

{% include base_path %}

<h1 class="archive__subtitle">Recent posts</h1>

{% for post in site.posts limit:5 %}
 {% include archive-single.html %}
{% endfor %}
<br>
<a href="{{ site.url }}{{ site.baseurl }}/posts" class="pagination--pager" title="Post Archives">Older Posts</a>